*{
    text-decoration: none;
}

.status{
    height:min-content;
    width: 100px;
    text-align: center;
    background-color: #BD0707;
    color: #ffffff;
    border-radius: 25px;
    
}

.avatar{
    border-radius: 50%;
}

.card{
    background: #F6DADA;
    border: none;
    border-radius: 25px;
    color: #BD0707;
    ;
}

.formInput {
    display: block;
    width: 100%;
    color: grey;
    border: 2px solid #BD0707;
}
.formInput:focus {
    border-color: #BD0707;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #BD0707;
  }

  .input-image {
    border: 2px solid #BD0707;
    width: 100%;
    color: grey;
    border-radius: 5px;
    padding: 6px;
  }

.inputImage {
    cursor: pointer;
}

.receipt {
    border: 2px solid #BD0707;
    border-radius: 10px;
    background-color: whitesmoke;
    color: grey;
}

.addCart {
    text-decoration: none;
}

.iconTopping{
    position: absolute;
    display: inline-block;
    width: 110px;
    height: 100px;
}

#checkboxes input[type=checkbox]{
    display: none;
}

#checkboxes input[type=checkbox]:checked + .iconTopping{
    background-image: url("./Images/IconApprove.png");
    width: 100px;
    height: 100px;
    margin: 16px;
    align-items:center;
    background-repeat: no-repeat;
}